html{
  scroll-behavior: smooth;
  overflow: auto;
}

.sticky{
    position: sticky;
    top: 0;
    z-index: 1;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    opacity: 0.6;
    
  }
  
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.active {
    background-color: #7F7E7E;
    color: white;
}
  
.topnav .icon {
    display: none;
}
  
 @media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 700px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

.mainScreen{
  text-align: center;
  width: 100%;
}

#firstLink{
  text-decoration: none;
}

.mainSection{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro{
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  height: auto;
  width: 100%;
  position: relative;
  margin-bottom: 3%;
}

.projectTitle{
  text-align: center;
}

.mainSection-div{
  width: 100%;
}

.projects{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-height: 25%;
  justify-content: space-around;
}



@media screen and (max-width: 700px){
  .mainSection{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.container {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

/* Displaying content over pictures */
.container{
  position: relative;
}

.info{
  display: none;
  position: absolute;
  top: 15%;
  height: 80%; 
} 

.container:hover > .info{
  display: block;
}

.container:hover > .projectImg{
  opacity: 0.4;
}

h5{
  text-align: center;
}

div p {
  text-align: justify;
}

.websiteBtn{
  position: absolute;
  left: 15%;
  bottom: 10%;  
  text-decoration: none;
}

.githubBtn{
  position: absolute;
  right: 15%;
  bottom: 10%;  
  text-decoration: none;
}

/* Layout for About section */

h2{
  text-align: center;
}

.containerAbout{
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.containerSmall{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text{
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  width: 80%;
  font-size: 1.5rem;
  line-height: 200%;
  text-align: justify;
}

.skills{
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  width: 35%;
}

@media screen and (max-width: 750px){
  .containerAbout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  }
  .containerSmall{
    width: 100%;
  }

  .text{
    width: 100%;
    font-size: 5vw;
    font-weight: 400;
    line-height: 1.5;
  }

  .skills{
    width: 80%;
  }

}

/* Layout for contact form */

.containerContact{
  width: 100;
  position: relative;
  display: flex;
}

.containerContactSmall{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.containerForm{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form{ 
  width: 80%;
  height: 100%;
  text-align: center;
}

input{
  width: 80%;
  outline: none;
  height: 2rem;
  font-size: 1.25rem;
  margin-bottom: 2.5%;
}

textarea{
  width: 80%;
  height: 80%;
  resize: vertical;
  overflow: auto;
  outline: none;
  font-size: 1.5rem;
}

button{
  margin: 5px;
  cursor: pointer;
  width: 15%;;
}

@media screen and (max-width: 750px){
  .containerContact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .containerContactSmall{
    width: 100%;
  }

  .containerForm{
    width: 100%;
  }

  button{
    width: 25%;
  }
}

/* Font color */

html{
  color: white;
}

.topnav a{
  color: #66FCF1;
}

h1, h2{
  color: #66FCF1;
}

#title{
  color: white;
}

/* Background color */
body{
  background-color: #04080F;
}

/* Font styling */

h1{
  font-weight: 800;
  font-size: 4.5rem;
}

#title{
  font-size: 3.5rem;
  font-weight: 300;
}

h2{
  font-weight: 800;
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}

h5{
  color: #66fCF1;
  font-weight: 700;
  font-size: 1rem
}

.text{
  font-size: 1.25rem;
  font-weight: 300;
}

input, textarea{
  padding: .5rem 1rem;
}

/* Button styling */

#firstLink{
  color: white;
  border: 1px solid white;
  font-weight: 700;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}

#firstLink:hover{
  background-color: #66FCF1;
}

.websiteBtn, .githubBtn{
  color: white;
  border: 1px solid white;
  font-weight: 700;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}

.websiteBtn:hover, .githubBtn:hover{
  background-color: #66FCF1;
}

button{
  color: white;
  border: 1px solid white;
  background-color: black;
  font-weight: 700;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}

button:hover{
  background-color: #66FCF1;
}

/* Image styling */
img{
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

/* More @media styling */
@media screen and (max-width: 1200px){

  .mainScreen{
    padding-bottom: 50%;
  }
  
  .projectTitle{
    padding-top: 40%;
  }
  
  .titleAbout{
    padding-top: 170%;
  }

  .titleContact{
    padding-top: 260%; 
  }
}
